body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top:20px;
}

.sub-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev, .next {
    color:white;
    background-color: #FFA07A;
    border-radius: 50px;
}

.calendar_title {
    margin: 10px auto;
}

.calendar_title .prev, .next {
    width: 30px;
    height: 100%;
    cursor: pointer;
    border: none;
    font-size: 20px;
    outline: none;
}

.current-year-month {
    font-size: 15px;
    vertical-align: middle;
    display: inline-block;
}

.calendar-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.day-of-week {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dayHeader {
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    font-size: 17px;
    margin:0 18px;
}

#weekly>div {
    box-sizing: border-box;
    text-align: center;
    width: 70px;
    height: 70px;
    display: inline-block;
    vertical-align: top;
}

#weekly>div.active {
    background: #ffdab9;
}

#showSavedDay {
    width:700px;
    border:1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}


